.app-container 
{
  margin: auto;
  padding: 10px;
  border-style: solid;
  background-color: antiquewhite;
  height: fit-content;
  width: fit-content;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
}

header 
{
  margin: auto;
  padding: 10px;
}

header h1 
{
  color: black;
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

header p {
  margin: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
  border: 0px;
  border-bottom: 3px;
  border-style: dashed;
  padding: 10px;
}